<div id="page-breadcrumb">
    <div class="vertical-center sun">
        <div class="container">
            <div class="row">
                <div class="action">
                    <div class="col-sm-12">
                        <h1 class="title">{{article}}</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="article-translation">
    <div class="reading-page___download"><a href="#">Download <i class="fa fa-download" aria-hidden="true"></i></a></div>
    <div class="row">
        <div class="col-sm-1 reading-page___change-page"><i class="fa fa-chevron-left reading-page___chevron" aria-hidden="true"></i></div>
        <div class="col-sm-5">
            <article class="reading-page___left-page">
            <div class="reading-page___sentence" id="{{id}}">
                <div class="reading-page___content">Леди DynamiteA нервный срыв не самый очевидный сюжет для комедии, но комика Марии Бэмфорд новом 12-эпизод шоу имеет смеется нагромождение.</div>
                <div class="reading-page___actions">
                    <div class="reading-page___action reading-page___original">Lady DynamiteA nervous breakdown is not the most obvious subject for a comedy but comedian Maria Bamford‘s new 12-episode show has the laughs piling up. </div>
                </div>
            </div>
            <div class="reading-page___sentence" id="{{id}}">
                <div class="reading-page___content"> По мотивам своей собственной жизни, причудливого шоу видит наша героиня теряет свои шарики, а затем найти их снова - хотя она его фразы в гораздо более профанного образом.</div>
                <div class="reading-page___actions">
                    <div class="reading-page___action reading-page___original">Loosely based on her own life, the bizarre show sees our heroine lose her marbles and then find them again – though she phrases it in a far more profane manner. </div>
                </div>
            </div>
              <div class="reading-page___sentence" id="{{id}}">
                <div class="reading-page___content"> Гости включают Сильверман, Освальт, Слейт, Тиг Нотаро и Адам Pally. Премьеры на Netflix 20 мая (Credit: Netflix).</div>
                <div class="reading-page___actions">
                    <div class="reading-page___action reading-page___original">Guests include Sarah Silverman, Patton Oswalt, Jenny Slate, Tig Notaro and Adam Pally.</div>
                </div>
            </div>
              <div class="reading-page___sentence" id="{{id}}">
                <div class="reading-page___content">RootsThe адаптеры эпопеи Алекса Хейли и боронование 1976 история рабства признать великолепие исходного текста и эпический 1977 адаптации АВС. </div>
                <div class="reading-page___actions">
                    <div class="reading-page___action reading-page___original">RootsThe adaptors of Alex Haley’s epic and harrowing 1976 story of slavery acknowledge the magnificence of the source text and ABC’s epic 1977 adaptation.</div>
                </div>
            </div>
              <div class="reading-page___sentence" id="{{id}}">
                <div class="reading-page___content"> Но команда также надеется, новое поколение будет обращено на вдумчивого истории о Кунта Kinte, его захвата и перехода к жизни рабства в США.</div>
                <div class="reading-page___actions">
                    <div class="reading-page___action reading-page___original">But the team is also hoping a new generation will be drawn to the thought provoking story of Kunta Kinte, his capture and transition to a life of slavery in the US. </div>
                </div>
            </div>
              <div class="reading-page___sentence" id="{{id}}">
                <div class="reading-page___content"> Актерский сильна: Форест Уитакер, Анна Пакуин, Лоуренс Фишберн, Рис-Майерс и Пьюрфой среди прочего, с Levar Burton - Кунта Kinte в оригинальной серии - выступающей в качестве исполнительного продюсера. </div>
                <div class="reading-page___actions">
                    <div class="reading-page___action reading-page___original">The cast is strong: Forest Whitaker, Anna Paquin, Laurence Fishburne, Jonathan Rhys Meyers and James Purefoy among others, with LeVar Burton – Kunta Kinte in the original series – serving as executive producer.</div>
                </div>
            </div>
              <div class="reading-page___sentence" id="{{id}}">
                <div class="reading-page___content"> Премьеры на A & E, с одновременные по истории и долгий срок службы, 30 мая (Кредит: A & E Networks).</div>
                <div class="reading-page___actions">
                    <div class="reading-page___action reading-page___original">Premieres on A&E, with simulcasts on History and Lifetime, on 30 May (Credit: A&E Networks).</div>
                </div>
            </div>
            <div class="reading-page___sentence" id="{{id}}">
                <div class="reading-page___content">Любовь, первая телевизионная драма NinaFever Pitch писатель Ник Хорнби является адаптацией любила мемуарах Нины Stibbe в работы в качестве няни для некоторых из ведущих огней литературной Лондоне в 1980-х годах. </div>
                <div class="reading-page___actions">
                    <div class="reading-page___action reading-page___original">Love, NinaFever Pitch writer Nick Hornby’s first TV drama is an adaptation of Nina Stibbe’s much loved memoir of working as a nanny for some of the leading lights of literary London in the 1980s.</div>
                </div>
            </div>
            <div class="reading-page___sentence" id="{{id}}">
                <div class="reading-page___content">В ролях Хелена Бонэм Картер в роли Нины, пять частей драма драматизирует письма, которые она написала домой Лестершир описывая ее встречи с подобными Мэри-Кей Wilmers, редактор Лондонского книжного обозрения и драматург Алан Беннет.</div>
                <div class="reading-page___actions">
                    <div class="reading-page___action reading-page___original">Starring Helena Bonham Carter as Nina, the five-part drama dramatises the letters she wrote home to Leicestershire describing her encounters with the likes of Mary-Kay Wilmers, the editor of the London Review of Books, and the playwright Alan Bennett.</div>
                </div>
            </div>
            <div class="reading-page___sentence" id="{{id}}">
                <div class="reading-page___content"> Премьеры 20 мая на BBC1 (Credit: BBC). Hollow Crown: Войны в RosesThe BBC отмечает 400 лет со дня смерти Шекспира со своей второй партией истории играет - расточительный три части адаптации Ричарда III (в главной роли Бенедикт Камбербэтч, как горбун короля) и, начиная с трех частей Генри VI сказал более двух фильмов. Он может похвастаться потрясающим броском включая Джуди Денч, Хью Bonneville, Том Старридж и Софи Оконедо среди других. </div>
                <div class="reading-page___actions">
                    <div class="reading-page___action reading-page___original">Premieres 20 May on BBC1 (Credit: BBC). Hollow Crown: The Wars of the RosesThe BBC is marking 400 years since the death of Shakespeare with its second batch of history plays – a lavish three part adaptation of Richard III (starring Benedict Cumberbatch as the hunchback King) and starting with the three part Henry VI told over two films. It boasts a stunning cast including Judi Dench, Hugh Bonneville, Tom Sturridge and Sophie Okonedo among others. </div>
                </div>
            </div>
            <div class="reading-page___sentence" id="{{id}}">
                <div class="reading-page___content"> Премьеры 7 мая на BBC2 (Credit: BBC).</div>
                <div class="reading-page___actions">
                    <div class="reading-page___action reading-page___original">Premieres 7 May on BBC2 (Credit: BBC).</div>
                </div>
            </div>
            <div class="reading-page___sentence" id="{{id}}">
                <div class="reading-page___content"> Острые козырьки - хит драма с поклонниками по всему миру возвращается на третий сезон.</div>
                <div class="reading-page___actions">
                    <div class="reading-page___action reading-page___original">Peaky BlindersThe hit drama with fans across the world returns for a third season.</div>
                </div>
            </div>
            <div class="reading-page___sentence" id="{{id}}">
                <div class="reading-page___content"> Даже Снуп Догг является остроконечный фанатиком; музыка легенда утверждает, что эта история 1920-х годов гангстеров в Бирмингеме говорит с ним о его собственных формирующего опыта.</div>
                <div class="reading-page___actions">
                    <div class="reading-page___action reading-page___original">Even Snoop Dogg is a Peaky fanatic; the music legend claims that this story of 1920s gangsters in Birmingham speaks to him regarding his own formative experiences.</div>
                </div>
            </div>
            <div class="reading-page___sentence" id="{{id}}">
                <div class="reading-page___content"> В его сердце харизматический лидер Киллиан Мерфи Томми Шелби, криминальный босс, который мы теперь находим остепениться к браку и новым найденным богатством и Хелен МакКрори в Матриарх тетя Полли. </div>
                <div class="reading-page___actions">
                    <div class="reading-page___action reading-page___original">At its heart is Cillian Murphy’s charismatic leader Tommy Shelby, the crime boss who we now find settling down to marriage and new found wealth and Helen McCrory’s Matriarch Aunt Polly.</div>
                </div>
            </div>

            </article>
        </div>
        <div class="col-sm-5">
            <article class="reading-page___right-page">
      <div class="reading-page___sentence" id="{{id}}">
                <div class="reading-page___content">Женщины играют ключевую роль в этом замкнутом мире семьи и угрозы, который показал прежде всего остального, что период драма не обязательно должны быть все о шляпках и шикарными голосами. </div>
                <div class="reading-page___actions">
                    <div class="reading-page___action reading-page___original">Women are key to this closed world of family and menace which has shown above all else that period drama needn’t be all about bonnets and posh voices.</div>
                </div>
            </div>
            <div class="reading-page___sentence" id="{{id}}">
                <div class="reading-page___content"> Премьеры 5 мая на BBC2 (Credit: BBC). </div>
                <div class="reading-page___actions">
                    <div class="reading-page___action reading-page___original">Premieres 5 May on BBC2 (Credit: BBC). </div>
                </div>
            </div>
            <div class="reading-page___sentence" id="{{id}}">
                <div class="reading-page___content"> Upstart CrowAlso отмечая юбилей Шекспира это непочтительный комедии о своей жизни.</div>
                <div class="reading-page___actions">
                    <div class="reading-page___action reading-page___original">Upstart CrowAlso marking the Shakespeare anniversary is this irreverent comedy about his life.</div>
                </div>
            </div>
            <div class="reading-page___sentence" id="{{id}}">
                <div class="reading-page___content"> Blackadder скриптером Бен Элтон разработал старомодный комедию, которая неизбежно собирается проводить параллели с его хитом период комедии с 1980-х годов в главных ролях Роуэн Аткинсон, как подлый Эдмунд Б. Дэвид Митчелл играет симпатичным и ошеломленных Бард, с которыми сталкиваются проблемы, которые будут знакомы многим - такие, как вниманием к несговорчивый отца (Гарри Энфилд) и даже stroppier дочь Сусанна (Helen Monks).</div>
                <div class="reading-page___actions">
                    <div class="reading-page___action reading-page___original"> Blackadder scripter Ben Elton has devised an old fashioned sitcom which is inevitably going to draw parallels with his hit period comedy from the 1980s starring Rowan Atkinson as the dastardly Edmund B. David Mitchell plays a likable and bemused Bard facing problems that will be familiar to many – such as the attentions of a stroppy father (Harry Enfield) and an even stroppier daughter Susanna (Helen Monks). </div>
                </div>
            </div>
            <div class="reading-page___sentence" id="{{id}}">
                <div class="reading-page___content"> Премьеры 9 мая на BBC2 (Credit: BBC).</div>
                <div class="reading-page___actions">
                    <div class="reading-page___action reading-page___original">Premieres 9 May on BBC2 (Credit: BBC). </div>
                </div>
            </div>
            <div class="reading-page___sentence" id="{{id}}">
                <div class="reading-page___content"> лебединая WallanderKenneth Брана, как детектив Манкель будет иметь устьев драмы поклонников водопоев в мае этого года.</div>
                <div class="reading-page___actions">
                    <div class="reading-page___action reading-page___original">WallanderKenneth Branagh’s swansong as Henning Mankell's detective will have the mouths of drama fans watering this May.</div>
                </div>
            </div>
            <div class="reading-page___sentence" id="{{id}}">
                <div class="reading-page___content"> Открытие с белой львицы (хотя постапартеидная история Mankell была переписана в большой степени) и двух-партер на основе его последней книги неспокойной Человек, истории этого замученного детектива были блестяще пересказывали в версии английского языка, который впервые вышло в эфир в 2008. </div>
                <div class="reading-page___actions">
                    <div class="reading-page___action reading-page___original">Opening with The White Lioness (though Mankell's post-apartheid story has been rewritten heavily) and a two-parter based on his final book The Troubled Man, the stories of this tortured detective have been brilliantly retold in the English language versions which first aired in 2008. </div>
                </div>
            </div>
            <div class="reading-page___sentence" id="{{id}}">
                <div class="reading-page___content"> Последующие фильмы появились в спорадических интервалах из-за сложности обеспечения услугами востребованных ведущего актера.</div>
                <div class="reading-page___actions">
                    <div class="reading-page___action reading-page___original"> Subsequent films have appeared at sporadic intervals because of the difficulty of securing the services of the sought-after lead actor.</div>
                </div>
            </div>
             <div class="reading-page___sentence" id="{{id}}">
                <div class="reading-page___content"> Будет ли он сделать больше?</div>
                <div class="reading-page___actions">
                    <div class="reading-page___action reading-page___original">Will he make any more?</div>
                </div>
            </div>
             <div class="reading-page___sentence" id="{{id}}">
                <div class="reading-page___content"> Предполагается, что это будет конец ... но он дал намеки в интервью, что он мог бы вернуться к роли. </div>
                <div class="reading-page___actions">
                    <div class="reading-page___action reading-page___original">This is supposed to be the end… but he has given hints in interviews that he could return to the role.</div>
                </div>
            </div>
             <div class="reading-page___sentence" id="{{id}}">
                <div class="reading-page___content"> Премьеры 22 мая на BBC 1 (Credit: BBC).</div>
                <div class="reading-page___actions">
                    <div class="reading-page___action reading-page___original"> Premieres 22 May on BBC 1 (Credit: BBC). </div>
                </div>
            </div>
             <div class="reading-page___sentence" id="{{id}}">
                <div class="reading-page___content"> Серия InvisiblesThe Чешский о тайном аквариумного расы, которые могут дышать под водой, но должны скрывать свою тайну от остальной части человечества является еще Вальтер Presents найти который обещает обратиться к фантазии и комедии поклонников, так по всей остальной части мира.</div>
                <div class="reading-page___actions">
                    <div class="reading-page___action reading-page___original">The InvisiblesThe Czech series about a secret aquarian race who can breathe underwater but have to hide their secret from the rest of humanity is another Walter Presents find which promises to appeal to fantasy and comedy fans alike across the rest of the world. </div>
                </div>
            </div>
             <div class="reading-page___sentence" id="{{id}}">
                <div class="reading-page___content"> Звезды большие чешские имена Иржи Бартошка, Kryštof Хадек и Ivana Chýlková.</div>
                <div class="reading-page___actions">
                    <div class="reading-page___action reading-page___original">Stars big Czech names Jiří Bartoška, Kryštof Hádek and Ivana Chýlková.</div>
                </div>
            </div>

            </article>
        </div>
        <div class="col-sm-1 reading-page___change-page"><i class="fa fa-chevron-right reading-page___chevron" aria-hidden="true"></i></div>
    </div>
</div>