<div id="page-breadcrumb">
        <div class="vertical-center sun">
             <div class="container">
                <div class="row">
                    <div class="action">
                        <div class="col-sm-12">
                            <h1 class="title">{{article}}</h1>
                        </div>                        
                    </div>
                </div>
            </div>
        </div>
</div>

<div class="article-translation">
    <div class="row">
        <div class="col-sm-6">
            <article class="translate-page___original">
                {{#sentences}}
                    <div class="translate-page___sentence" id="{{id}}">
                        <div class="translate-page___content">{{original}}</div>
                        <div class="translate-page___actions">
                            <div class="translate-page___action translate-page___manual-translate">Translate</div>
                            <div class="translate-page___action translate-page___yandex-translate">Yandex.Translate</div>
                            <div class="translate-page___action translate-page___mark-translate">Mark translated</div>
                            <div class="translate-page___action translate-page___copy-text" data-clipboard-target="#foo">Copy text</div>
                        </div>
                    </div>
                {{/sentences}}
            </article>
        </div>
        <div class="col-sm-6">
            <article class="translate-page___translated">
                <div class="translate-page___no-translation">No selected sentence</div>
            </article>
            <article class="contact-form bottom your-translate">
                <h2>Enter your translation for selection:</h2>
                <div class="translate-page___selected-sentence"></div>
                <form class="translate-page___translate-form" id="main-contact-form" name="contact-form" method="post" action="save">
                    <div class="form-group">
                        <textarea name="translation" id="message" required="required" class="form-control translate-page___translate-area" rows="8" placeholder="Your text here"></textarea>
                    </div>
                    <input type="text" name="id" class="invisible translate-page___original-id">
                    <div class="form-group">
                        <input type="submit" name="submit" class="btn btn-submit" value="Submit">
                    </div>
                </form>
            </article>
        </div>
       
    </div>
</div>