<section class="price-table">
    <div class="row">
        <div class="col-sm-6">
            <article class="translate-page___original">
                {{#original}}
                    <div class="translate-page___sentence">
                        <div class="translate-page___content">{{.}}</div>
                        <div class="translate-page___actions">
                            <div class="translate-page___action translate-page___manual-translate">Translate</div>
                            <div class="translate-page___action translate-page___yandex-translate">Yandex.Translate</div>
                            <div class="translate-page___action translate-page___mark-translate">Mark translated</div>
                            <div class="translate-page___action translate-page___copy-text">Copy text</div>
                        </div>
                    </div>
                {{/original}}
            </article>
        </div>
        <div class="col-sm-6">
            <article class="translate-page___translated">
                {{#translated}}
                    <div class="translate-page___translation">{{.}}</div>
                {{/translated}}
            </article>
            <article class="contact-form bottom your-translate">
                <h2>Enter your translation for selection:</h2>
                <div class="translate-page___selected-sentence"></div>
                <form id="main-contact-form" name="contact-form" method="post" action="sendemail.php">
                    <div class="form-group">
                        <textarea name="message" id="message" required="required" class="form-control translate-page___translate-area" rows="8" placeholder="Your text here"></textarea>
                    </div>                        
                    <div class="form-group">
                        <input type="submit" name="submit" class="btn btn-submit" value="Submit">
                    </div>
                </form>
            </article>
        </div>
       
    </div>
</section>